/*
 * CSS custom for boucdoc project
 * this file is complementary of skeleton.css
 */
body
{
	counter-reset: section;
	width: 80%;
	max-width: 1000px;
	margin: 2em auto;
}

nav
{
  position: fixed; left: 0; top:0;
  width: 100%;
  border-bottom: 1px solid #424242;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
  background-color: rgba(255,255,255,0.8);
  z-index: 9;
}
nav h1, nav ul, nav li { display : table-cell !important; vertical-align: middle; }
nav h1 { padding-right: 1em; }
nav h1::before { content: ""; counter-increment: none; }

header
{
	border-bottom: 1px solid #a2a2a2;
	margin: 1em -1em;
	padding: 0em 1em;
}

.author { display: inline-block; }
.author:after { content: ", "; }
.author:last-child:after { content: ""; }

blockquote
{
	border-left: 1px solid #1EAEDB;
	padding: 0.5em;
}


h1, h2, h3, h4, h5, h6 { display: inline-block; width: 100%; }
h1 { font-size: 3.0rem !important; counter-reset: subsection fig equation; }
h2 { font-size: 2.6rem !important; counter-reset: subsubsection;   }
h3 { font-size: 2.0rem !important; counter-reset: paragraph;       }
h4 { font-size: 1.8rem !important; counter-reset: subparagraph;    }
h5 { font-size: 1.4rem !important; counter-reset: subsubparagraph; }
h6 { font-size: 1.4rem !important; }

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before
{ display: inline-block; text-align: right; width: 3.4em; margin-left: -3.5em; margin-right: 1rem; }

h1::before {
	counter-increment: section;
	content: counter(section) " - ";
}
h2::before {
	counter-increment: subsection;
	content: counter(section)"."counter(subsection) " - ";
}
h3::before {
	counter-increment: subsubsection;
	content: counter(section)"."counter(subsection)"."counter(subsubsection) " - ";
}
h4::before {
	counter-increment: paragraph;
	content: counter(paragraph)" ⇝ ";
}
h5::before {
	counter-increment: subparagraph;
	content: counter(paragraph)"."counter(subparagraph) " ⇝ ";
}
h6::before {
	counter-increment: subsubparagraph;
	content: counter(paragraph)"."counter(subparagraph)"."counter(subsubparagraph) " ⇝ ";
}
.math.display         , .math.display+a ,
math[display=block] , math[display=block]+a
{ display:block; }
.math.display+a , math[display=block]+a { width: 0.10%; float:right; margin-top: -5rem; }
.math.display   , math[display=block]   { width: 99.9%; }

.math.display+a::after ,
math[display=block]+a::after
{
	counter-increment: equation;
/*	content: "("counter(section)"."counter(equation)")";*/
  content: "("attr(id)")" ;
	display: inline-block;
	float: right;
  color: #222;
}

h1.title { font-size: 4rem !important; }
h1.title::before { counter-increment: none; content: ""; }
.author::before { content: ""; }

h1:target, h2:target, h3:target,
h4:target, h5:target, h6:target
{ background-color: #fbe54e; }

.anchor::before
{
	visibility:hidden;
	display: inline-block;
	float: right;
	padding: 0 2rem;
	font-size: 2rem;
	text-decoration: none;
	font-weight: lighter;
	content: "\260D";
	margin: 0.2rem 0;
}

h1:hover .anchor::before, h2:hover .anchor::before, h3:hover .anchor::before,
h4:hover .anchor::before, h5:hover .anchor::before, h6:hover .anchor::before
{ visibility:visible; }

h1:target .anchor::before, h2:target .anchor::before, h3:target .anchor::before,
h4:target .anchor::before, h5:target .anchor::before, h6:target .anchor::before
{ visibility:visible; color: #db5022; }

div { counter-reset: subfig; text-align: center; }
figure
{
	display: inline-block;
	width: 90%;
	margin: 2rem auto;
	text-align: center;
}
div figure { width: 49%; }

figcaption::before , div p::before {
	counter-increment: fig;
	content: "Fig"counter(section)"."counter(fig)" - ";
}

div figcaption::before {
	counter-increment: none;
	counter-increment: subfig;
	content: "("counter(subfig,lower-alpha)") ";
}

div p { text-align: center; }

code { font-size: 100% !important; }
code.sourceCode { white-space: pre-wrap !important; }
.term code::before { content: "$ "; }

pre.numberSource a.sourceLine::before { left: -7em; }
pre.numberSource a.sourceLine:target, pre.numberSource a.sourceLine:target::before
{ background-color:  #f9eb90; }
pre.numberSource a.sourceLine:target { min-width: 100%; }

img { max-width: 100%; }

.sourceCode { position: relative; }
.sourceCode a.code-anchor
{
	z-index: 4;
	display: block;
	position: absolute;
	top: 0.4rem; right : 0.4rem;
	text-decoration: none;
}

.sourceCode a.code-anchor::before
{
	content: "\260D";
	visibility:hidden;
	padding: 0 2rem;
	font-size: 2rem;
	text-decoration: none;
	font-weight: lighter;
}
.sourceCode:hover  a.code-anchor::before { visibility:visible; }
.sourceCode:target a.code-anchor::before { visibility:visible; color: #db5022; }

table { border-collapse: collapse; margin-left: auto; margin-right:auto; caption-side: bottom; }

#abstract blockquote {
  border-left-color: #aaa;
  border-left-width: 3px;
}
#abstract p {
  text-align: left !important;
}
#abstract p::before {
  content: "";
  counter-increment: none; 
}

#refs:before {
	content: "Bibliographie";
	line-height: 1.2;
	letter-spacing: -.1rem;
	font-weight: 300;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
	font-size: 3.0rem;
}
#refs, #refs div {
	counter-reset: none; text-align: left;
}
#refs p:before {
	counter-increment: none;
	content: "";
}
#refs p {
	text-align: left;
	display: list-item;
}

#end {
	position: relative;
	margin-bottom: -1.5em; padding-bottom: 0;
	bottom: 0;
	height: 1em;
	font-size: 0.8em;
	text-align: center;
}
#end ul { display: block; margin-bottom: 0; padding-bottom: 0; background: #eee; }
#end li {
	display: inline-block;
	padding: 0.02em 1em;
	margin: 0;
	border-left: 1px solid #a2a2a2;
}
#end li:first-child { border-left: none; }


@media screen and (max-width: 800px) {
	body { width: 90%; }
	h1::before, h2::before, h3::before, h4::before, h5::before, h6::before
	{ display: inline; margin: 0; }
}

